USE [master]
GO
/****** Object:  Database [QLPBNV]    Script Date: 6/12/2021 7:11:18 PM ******/
CREATE DATABASE [QLPBNV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPBNV', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLPBNV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLPBNV_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLPBNV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPBNV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPBNV]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 6/12/2021 7:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[iddepartment] [numeric](19, 0) NULL,
	[mssv] [varchar](255) NULL,
	[namsinh] [int] NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
